<!-- This is the AddFriend page for the PriCoSha website. -->
<!DOCTYPE html>
<html>
    <title>
        Add Friend!
    </title>
    <meta charset="UTF-8">
    <body>
        {{if .IsErr}}
            <div style="color: red">{{.ErrMsg}}</div>
        {{end}}
        <form action="/addFriend?fgn={{.FGName}}&oe={{.OwnerEmail}}" method="POST">
            <label for="fname">First Name:</label>
            <input type="text" name="fname" required><br>
            <label for="lname">Last Name:</label>
            <input type="text" name="lname" required><br>
            <input type="submit" value="Add">
        </form>
        <a href="/friendgroups">Cancel</a>
    </body>
</html>