{{define "content"}}
  <body>
    <h2>
      Content Info
      <div style="float:right">
        <a href="/">Return!</a>
      </div>
    </h2>
    <table cellspacing="20">
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>File Path</th>
        <th>Time Posted</th>
        <th>Author</th>
        <th>Email</th>
      </tr>
      <tr>
        {{$itemID := .Item.ItemID}}
        <td>{{$itemID}}</td>
        <td>{{ .Item.FileName }}</a></td>
        <td>{{ .Item.FilePath }}</td>
        <td>{{ .Item.PostTime }}</td>
        <td>{{ .Item.Fname }} {{ .Item.Lname }}</td>
        <td>{{ .Item.Email }}</td>
      </tr>

      {{$isMyContent := eq .Item.Email .Username}}
      {{if $isMyContent}}
      <form action="/deleteItem" method=POST onsubmit="return verifyDelete({{.Item.ItemID}})">
        <input type="hidden" name="itemID" value="{{.Item.ItemID}}">
        <input type="submit" value="Delete Item" style="background-color: red">
      </form>
      {{end}}

      {{range $i := .Removes}}
        {{$owner := $i.OwnerEmail}}
        {{$fgName := $i.FGName}}
        <tr>
          <td colspan="5">
            <form action="/unshare" method="POST">
              <input type="hidden" name="fgName" value="{{$fgName}}">
              <input type="hidden" name="ownerEmail" value="{{$owner}}">
              <input type="hidden" name="itemID" value="{{$itemID}}">
              <input type="submit" value="Unshare from {{$owner}}'s {{$fgName}}">
            </form>
          </td>
        </tr>
      {{end}}

    </table>
    <h2>Tagged</h2>
    <table>
      {{if .Logged}}
        <tr>
          <td colspan="5">
            <button onclick="openTagForm({{.Item.ItemID}})" id="tag-button-{{.Item.ItemID}}">Tag someone</button>
            <div class="tag-form-popup" id="tag-form-{{.Item.ItemID}}" style="display: none">
              <form action="/addtag?id={{.Item.ItemID}}" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <input type="submit" value="Tag!">
                <input type="button" onclick="closeTagForm({{.Item.ItemID}})" value="Close">
              </form>
            </div>
          </td>
        </tr>
      {{end}}
    </table>
    <ul>
      {{ range .TaggedNames }}
      <li>{{ . }}</li>
      {{ else }}
      <p>No Tags Yet!</p>
      {{ end }}
    </ul>

    <h2>Comments</h2>
    <table>
        {{if .Logged}}
          <tr>
            <td colspan="5">
              {{$id := .Item.ItemID}}
              <button onclick="openCommentForm({{$id}})" id="comment-button-{{$id}}">Add a comment</button>
              <div class="comment-form-popup" id="comment-form-{{$id}}" style="display: none">
                <form action="/addComment" method="POST">
                  <label for="comment">Comment:</label>
                  <input type="text" name="body" required>
                  <input type="hidden" name="itemID" value="{{$id}}">
                  <input type="submit" value="Submit">
                  <input type="button" onclick="closeCommentForm({{$id}})" value="Close">
                </form>
              </div>
            </td>
          </tr>
        {{end}}
    </table>
    <table cellspacing="20">
      <thead>
        <th>Comment</th>
        <th>Email</th>
        <th>Comment Time</th>
      </thead>
      {{ range .Comments }}
      <tr>
          <td>{{ .Body }}</td>
          <td>{{ .Email }}</td>
          <td>{{ .CommentTime }}</td>
        {{ else }}
          <td colspan="3">No Comments Yet!</td>
        {{ end }}
      </tr>
    </table>

    <h2>Ratings</h2>
    <table cellspacing="20">
    <thead>
      <th>Rating</th>
      <th>Email</th>
      <th>Rate Time</th>
    <thead>
      {{ range .Ratings }}
      <tr>
        <td>{{ .Emoji }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Rate_time }}</td>
      {{ else }}
        <td colspan="3">No Ratings Yet!</td>
      </tr>
    {{ end }}
    </table>
    <script type="text/javascript">
      function openTagForm(ID) {
        document.getElementById("tag-form-"+ID).style.display = "block";
        document.getElementById("tag-button-"+ID).style.display = "none";
      }
      function closeTagForm(ID) {
        document.getElementById("tag-form-"+ID).style.display = "none";
        document.getElementById("tag-button-"+ID).style.display = "block";
      }
      function openCommentForm(ID) {
        document.getElementById("comment-form-"+ID).style.display = "block";
        document.getElementById("comment-button-"+ID).style.display = "none";
      }
      function closeCommentForm(ID) {
        document.getElementById("comment-form-"+ID).style.display = "none";
        document.getElementById("comment-button-"+ID).style.display = "block";
      }
      function verifyDelete(ID) {
        return (confirm("Are you sure you want to delete this content item?"))
      }
    </script>
</body>
{{end}}