<!DOCTYPE html>
<html>
    <title>
        Duplicate Names
    </title>
    <meta charset="UTF-8">
    <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <body>
        <h1>
            Duplicate Names... Which username?
        </h1>
        <table cellspacing="20">
          <tr>
            <th align="left">Username</th>
            <th align="center">Action</th>
          </tr>
          {{$fgName := .FGName}}
          {{$ownerEmail := .OwnerEmail}}
          {{ range .UserEmails }}
          <tr>
            <td align="left">{{ . }}</td>
            <td>
                <form action="/chooseName?fgn={{$fgName}}&oe={{$ownerEmail}}&ue={{.}}" method="POST">
                    <input type="submit" value="Add">
                </form>
            </td>
          </tr>
          {{ else }}
          {{/* if the range is empty show this */}}
          <tr><td colspan="5">No Friend Groups Available!<td></tr>
          {{ end }}
        </table>
        <a href="/friendgroups">Cancel</a>
    </body>
</html>