{{define "content"}}
<!-- the above line must be present so that the template is passed as content to be imported by the base template which has the sidebar -->

<title>
  Friend Groups
</title>
<meta charset="UTF-8">
<link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />

<body>
  <h1>
    Friend Groups
  </h1>
  <hr>
  <h2>
    Owned Friend Groups:
  </h2>
  <table cellspacing="20">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Description</th>
    </tr>
    {{ range .OwnFriendGroups }}
    <tr>
      <td>{{ .FGName }}</td>
      <td>{{ .OwnerEmail }}</td>
      <td>{{ .Description }}</td>
      <td> <a href="/formAddFriend?fgn={{.FGName}}&oe={{.OwnerEmail}}"><button>Add Friend</button></a> </td>
    </tr>
    {{ else }}
    {{/* if the range is empty show this */}}
    <tr>
      <td colspan="5">You don't own any friend groups!<td>
    </tr>
    {{ end }}
  </table>
  <h3>
    Friend Groups You Belong To:
  </h3>
  <table cellspacing="20">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Description</th>
    </tr>
    {{ range .BelongFriendGroups }}
    <tr>
      <td>{{ .FGName }}</td>
      <td>{{ .OwnerEmail }}</td>
      <td>{{ .Description }}</td>
    </tr>
    {{ else }}
    {{/* if the range is empty show this */}}
    <tr>
      <td colspan="5">You're not a member of any friend groups!<td>
    </tr>
    {{ end }}
  </table>
</body>

<!-- this ends the definition of the content in the template -->
{{end}}