<!-- This is the login page for the PriCoSha website. -->
<!DOCTYPE html>
<html>
    <title>
        Login!
    </title>
    <meta charset="UTF-8">
    <body>
        {{if .IsErr}}
            <div style="color: red">{{.ErrMsg}}</div>
        {{end}}
        <form action="/validate" method="POST">
            Username: <input type="text" name="username" required><br>
            Password: <input type="text" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <a href="/">Cancel</a>
    </body>
</html>