<!-- This is the login page for the PriCoSha website. -->
<!-- Templating functionality is planned, as such this file
    will be retained in /template -->
    <!DOCTYPE html>
    <html>
        <title>
            Login to PriCoSha
        </title>
        <meta charset="UTF-8">
        <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />
        <body>
            <h1>
                Login
            </h1>
            <form method="POST">
                E-mail:<br>
                <input type="text" name="email"><br>
                Password:<br>
                <input type="text" name="password"><br>
                <input type="submit" value="Submit">
            </form>
        </body>
    </html>