{{/* This is the landing page for the PriCoSha website. */}}
<!DOCTYPE html>
<html>
<title>
    PriCoSha
</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" title="Default Styles" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="sidebar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href=""><i class="fa fa-fw fa-user"></i>Profile</a>
    <a href="/tag_manager"><i class="fa fa-fw fa-tags"></i>Tag Manager</a>
    {{ $iflogged := .Logged}}
    {{if $iflogged}}
    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
    {{else}}
    <a href="/login"><i class="fa fa-fw fa-sign-in"></i>Login</a>
    {{end}}
</div>


<div class="content">

    <body>
        <h1>
            PriCoSha
            </title>
            <meta charset="UTF-8">
            <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />

            <body>
                <div style="float:right">
                    {{ $iflogged := .Logged}}
                    {{if $iflogged}}
                    Logged in as: <b>{{.Username}}</b> <a href="/tag_manager">Tag Manager</a> <a href="/logout">Logout!</a>
                    {{else}}
                    <a href="/login">Login!</a>
                    {{end}}
                </div>
        </h1>
        <hr>
        <h2>
            Public Content:
        </h2>
        <table cellspacing="20">
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>File Path</th>
                <th>Author</th>
                <th>Time Posted</th>
            </tr>
            {{ range .PubData }}
            <tr>
                <td>{{ .ItemID }}</td>
                <td>{{ .FileName }}</td>
                <td>{{ .FilePath }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .PostTime }}</td>
            </tr>
            {{if $iflogged}}
            <tr>
                <td colspan="5">
                    <button onclick="openForm()" id="tag-button">Tag someone</button>
                    <div class="tag-form-popup" id="tag-form" style="display: none">
                        <form action="/addtag/{{.ItemID}}" method="POST">
                            <label for="username">Username:</label>
                            <input type="text" name="username" required>
                            <input type="submit" value="Tag!">
                            <input type="button" onclick="closeForm()" value="Close">
                        </form>
                    </div>
                </td>
            </tr>
            {{end}}
            {{ else }}
            {{/* if the range is empty show this */}}
            <tr>
                <td colspan="5">No Items Available!<td>
            </tr>
            {{ end }}
            <script>
                function openForm() {
                    document.getElementById("tag-form").style.display = "block";
                    document.getElementById("tag-button").style.display = "none";
                }

                function closeForm() {
                    document.getElementById("tag-form").style.display = "none";
                    document.getElementById("tag-button").style.display = "block";
                }
            </script>
    </body>
</div>


</html>