{{/* This is the landing page for the PriCoSha website. */}}
<!DOCTYPE html>
<html>
    <title>
        PriCoSha
    </title>
    <meta charset="UTF-8">
    <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <body>
        <h1>
            PriCoSha
            <div style="float:right">
                {{if .Logged}}
                Logged in as: <b>{{.Username}}</b> <a href="/logout">Logout!</a>
                {{else}}
                <a href="/login">Login!</a>
                {{end}}
            </div>
        </h1>
        <hr>
        <h2>
            Public Content:
        </h2>
        <table cellspacing="20">
          <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>File Path</th>
            <th>Author</th>
            <th>Time Posted</th>
          </tr>
          {{ range .PubData }}
          <tr>
            <td>{{ .ItemID }}</td>
            <td>{{ .FileName }}</td>
            <td>{{ .FilePath }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .PostTime }}</td>
          </tr>
          {{ else }}
          {{/* if the range is empty show this */}}
          <tr><td colspan="5">No Items Available!<td></tr>
          {{ end }}
    </body>
</html>
