{{/* PriCoSha Homepage */}}
<!DOCTYPE html>
<html>
    <title>
        PriCoSha
    </title>
    <meta charset="UTF-8">
    <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <body>
        <h1>
            PriCoSha
            <div style="float:right">
                <a href="/login">Login</a>
            </div>
        </h1>
        <hr>
        <table cellspacing="20">
          <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>File Path</th>
            <th>Author</th>
            <th>Time Posted</th>
          </tr>
        {{ range .Items }}
          <tr>
            <td>{{ .ItemID }}</td>
            <td>{{ .FileName }}</td>
            <td>{{ .FilePath }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .PostTime }}</td>
          </tr>
        {{ else }}
          {{/* if the range is empty show this */}}
          <tr><td colspan="5">No Items Available!<td></tr>
        {{ end }}
        </table>
    </body>
</html>
