<html>
  <meta charset="UTF-8">
  <title>
      Manage Privileges
  </title>
  {{$isAdmin := eq .Role 0}}
  <body>
    <h1>
      Managing Privileges of {{.FGName}}
    </h1>
    <hr>
    <h2>
      Admin:
    </h2>
    <table cellspacing="20">
      <tr>
        <td>
          {{.OwnerEmail}}
        </td>
      </tr>
    </table>
    <h2>
      Mods:
    </h2>
    <table cellspacing="20">
      {{range .Mods}}
      <tr>
        <td>
          {{.}}
        </td>
        {{if $isAdmin}}
        <td>
          Put link here to demote mods.
        </td>
        {{end}}
      </tr>
      {{else}}
      <tr>
        <td>
          No current mods
        </td>
      </tr>
      {{end}}
    </table>
    <h2>
      Members:
    </h2>
    <table cellspacing="20">
      {{range .Members}}
      <tr>
        <td>
          {{.}}
        </td>
        {{if $isAdmin}}
        <td>
          Put link here to promote members.
        </td>
        {{end}}
      </tr>
      {{else}}
      <tr>
        <td>
          No current members
        </td>
      </tr>
      {{end}}
    </table>
  </body>
</html>