<html>
  <meta charset="UTF-8">
  <title>
      Manage Privileges
  </title>
  <body>
    <h1>
      Manage Privileges
    </h1>
    <hr>
    <h2>
      Admin:
    </h2>
    <table cellspacing="20">
      <tr>
        <td>
          Admin name here
        </td>
      </tr>
    </table>
    <h2>
      Mods:
    </h2>
    <table cellspacing="20">
      <tr>
        <td>
          Mod names here
        </td>
      </tr>
    </table>
    <h2>
      Members:
    </h2>
    <table cellspacing="20">
      <tr>
        <td>
          Member names here
        </td>
      </tr>
    </table>
  </body>
</html>