<!-- This is the tag management page for the PriCoSha website. -->
<!DOCTYPE html>
<html>
<title>
    Tag Manager
</title>
<meta charset="UTF-8">
<link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" />

<body>
    <h1>
        Tag Manager
        <div style="float:right">
            {{if .Logged}}
            Logged in as: <b>{{.Username}}</b> <a href="/">Home</a><b> </b><a href="/logout">Logout!</a>
            {{else}}
            <a href="/login">Login!</a>
            {{end}}
        </div>
    </h1>
    <hr>
    <h2>
        Pending Tags:
    </h2>
    <table cellspacing="20">
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Tagger</th>
            <th>Tagged On</th>
            <th>File Path</th>
        </tr>
        {{ range .PendingTagData }}
        <tr>
            <td><a href="/accept?ter={{.TaggerEmail}}&iid={{.ItemID}}&ted={{.TaggedEmail}}">Accept</a><b> / </b><a href="/decline?ter={{.TaggerEmail}}&iid={{.ItemID}}&ted={{.TaggedEmail}}">Decline</a></td>
            <td>{{ .FileName }}</td>
            <td>{{ .TaggerEmail }}</td>
            <td>{{ .TagTime }}</td>
            <td>{{ .FilePath }}</td>
        </tr>
        {{ else }}
        {{/* if the range is empty show this */}}
        <tr>
            <td colspan="5">No Pending Items!<td>
        </tr>
        {{ end }}
    </table>
    <h3>
        Accepted Tags:
    </h3>
    <table cellspacing="20">
        <tr>
            <th>Name</th>
            <th>Tagger</th>
            <th>Tagged On</th>
            <th>File Path</th>
            <th>Action</th>
        </tr>
        {{ range .AcceptedTagData }}
        <tr>
            <td>{{ .FileName }}</td>
            <td>{{ .TaggerEmail }}</td>
            <td>{{ .TagTime }}</td>
            <td>{{ .FilePath }}</td>
            <td><a href="/decline?ter={{.TaggerEmail}}&iid={{.ItemID}}&ted={{.TaggedEmail}}">Delete?</a></td>
        </tr>
        {{ else }}
        {{/* if the range is empty show this */}}
        <tr>
            <td colspan="5">No Accepted Items!<td>
        </tr>
        {{ end }}
    </table>
</body>


</html>