html, body, h1, h2, h3, h4,h5, p, div, span {
  font-family: -apple-system,BlinkMacSystemFont, 'Open Sans', "Segoe UI",
  Roboto, Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.w3-sidebar .w3-bar-item {
  padding-left: 10px;
  margin-top: 10px;
}

.w3-sidebar .fa{
  margin-right: 10px;
  font-size: 1.2em;
}

.w3-sidebar .logged-in-as {
  bottom: 0;
  position: absolute;
  padding: 10px;
}

.location-list {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.location-list .location-pill {
  background: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 5px 5px 14px;
  line-height: 30px;
  margin-right: 20px;
  color: #3c4043;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
  0 1px 3px 1px rgba(60,64,67,0.149);
  transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)
}

.location-list .location-pill .location-count{
  background: #000000;
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100%;
}

.location-pill:hover, .location-pill:focus{
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),
  0 4px 8px 3px rgba(60,64,67,0.149)
}
